.filter {
	

	.filter__fields {
		margin:0;
		@include globalMargins(full, bottom);
		@include globalMargins(full, right);
		padding:0 0 em(1) 0;
		border:1px solid $global-border-color;
		max-width:em(400);

		// This is a little janky, but basically I want to fix the width of the filter
		// to the columns, doing this with breakpoints for now.

		@include breakpoint(two-columns) { max-width:em(840); }
		@include breakpoint(three-columns) { max-width:em(1280); }
		@include breakpoint(four-columns) { max-width:em(1720); }
		@include breakpoint(five-columns) { max-width:em(2160); }
		@include breakpoint(six-columns) { max-width:em(2600); }
		@include breakpoint(seven-columns) { max-width:em(3040); }
		@include breakpoint(eight-columns) { max-width:em(3480); }

	}

	.filter__input {
		@include box-sizing('border-box');
		border:0;
		margin:0;
		width:100%;
		outline: none;
		padding:em(20,24) em(40,24);
		font-size:em(24);
	}

}