body {
	
}

.container {
	@include clearfix;

	margin:auto;
	padding-left:em(40);
	max-width:em(480);

	@include breakpoint(two-columns) { max-width:em(920); }
	@include breakpoint(three-columns) { max-width:em(1360); }
	@include breakpoint(four-columns) { max-width:em(1800); }
	@include breakpoint(five-columns) { max-width:em(2240); }
	@include breakpoint(six-columns) { max-width:em(2680); }
	@include breakpoint(seven-columns) { max-width:em(3120); }
	@include breakpoint(eight-columns) { max-width:em(3560); }
}


.container--permalink {
	margin:auto;
	max-width:em(600);
	padding:em(20);
	margin-bottom:em(200);
}