.pagination {
	background-color:pink;
	max-width:em(400);

	.pagination__link {
		display:block;
		width:50%;
		float:left;
		text-align:center;
		text-decoration:none;
		color:white(70);
		line-height:1;
		font-size:em(11);
		text-transform:uppercase;
		text-shadow:0 em(1,11) em(1,11) #000;


		&:hover {
			color:white(100);
		}
	}
}