.pagination {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;

	.pagination__link {
		display:block;
		width:50%;
		float:left;
		text-align:center;
		@include globalPadding;
		border-top:1px solid $global-border-color;
		text-decoration:none;
		background-color:#FFFFFF;
		
		&:hover {
			background-color:#FFFFCC;
		}
	}

	.pagination__link--prev {
		border-right:1px solid $global-border-color;
	}
}