.resources {
	@include clearfix;

}

.resource {
	@include box-sizing(border-box);
	@include globalMargins(full, bottom);
	@include globalMargins(full, right);
	@include globalPadding;
	@include globalBorder;

	position:relative;
	max-width:em(400);
	float:left;

	.resource__link,
	.resource__link:link,
	.resource__link:active,
	.resource__link:visited,
	.resource__link:hover {
		text-decoration: none;
	}

	.resource__link:hover {
		background-color:red;
	}

	.resource__header {
		margin:0;
		padding:0;
	}

	.resource__timestamp {
		font-size:em(10);
		line-height:1;
		text-transform:uppercase;
		color:$timestamp-color;
	}


	.resource__tags ul {
		@include removeDefaultListStyle;

		.resource__tag {
			font-size:em(11);
			line-height:1;
			text-transform:uppercase;
			display:inline-block;
			padding:em(5,11) em(10,11);
			background-color:$tag-color;
			border-radius:em(11,11);
		}
	}


	.resource__header {
		margin-top:0;
		padding-top:0;
	}


	.resource__permalink {
		position:absolute;
		bottom:em(-1);
		right:em(-1);
		@include globalBorder;

		a {
			display:block;
			padding:em(10);

			.icon-permalink {
				width:em(16);
				height:em(16);
				fill:$icon-color;
			}
		}		
	}

}

