---
layout: default
title: Hello World
---
<header class="header">
    <div class="header__logo"><img src="/img/floatingbox.png" alt="Logo for Floatingboxes' Resources" /></div>
    <nav class="header__nav">
        <ul class="nav">
            <li><a href="/feed.xml">RSS</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>
<section class="filter">
    <form action="" class="filter__form" method="post">
        <fieldset class="filter__fields">
            <input type="text" class="filter__input" placeholder="Type a word here to filter" />
        </fieldset>
    </form>
</section>
<section class="resources">
{% for post in site.posts %}

	<article class="resource">
    		<header>
    			<h2 class="resource__header"><a href="{{ post.www-url }}" class="resource__link">{{ post.title }}</a></h2>
                <div class="resource__timestamp">
                    {{ post.date | date: "%B %d, %Y" }}
                </div>
    		</header>
    		<div class="resource__body">
    			{{ post.content }}
    		</div>
    		<div class="resource__tags">
    			<ul>
    				{% for tag in post.tags %}
    					<li class="resource__tag">{{ tag }}</li>
    				{% endfor %}
    			</ul>
    		</div>
    		<footer>
    			<div class="resource__permalink">
    				<a href="{{ post.url }}">{% include icon-permalink.ext %}</a>
    			</div>
    		</footer>
    </article>
{% endfor %}
</section>