.resources {
	@include clearfix;

}

.resource {
	@include box-sizing(border-box);
	@include globalMargins(full, bottom);
	@include globalMargins(full, right);
	@include globalPadding;
	@include globalBoxShadow;

	position:relative;	
	float:left;
	overflow:hidden;
	max-width:em(400);
	
	border-radius:$global-border-radius;
	background-color:$resource-background-color;

	.resource__link,
	.resource__link:link,
	.resource__link:active,
	.resource__link:visited,
	.resource__link:hover {
		color:$resource-link-color;
		text-decoration: none;
	}

	.resource__link:visited {
		color:$resource-link-color-visited;
	}

	.resource__link:hover {
		color:$resource-link-color-hover;
	}


	.resource__timestamp {
		font-size:em(10);
		line-height:1;
		text-transform:uppercase;
		color:$timestamp-color;
	}

	.resource__credit {
		font-size:em(12);
		margin-bottom:em(24,12);
	}

	.resource__tags ul {
		@include removeDefaultListStyle;

		.resource__tag {
			font-size:em(11);
			line-height:1;
			text-transform:uppercase;
			display:inline-block;
			padding:em(5,11) em(10,11);
			background-color:$tag-color;
			border-radius:em(11,11);
			color:#ffffff;
		}
	}


  .resource__header {
    margin:0;
    margin-bottom: 0.25em;
    padding:0;
    line-height: 1;
  }


	.resource__permalink {
		position:absolute;
		bottom:em(0);
		right:em(0);

		a {
			display:block;
			padding:em(10);
			line-height:0;

			.icon-permalink {
				display:block;
				width:em(16);
				height:em(16);
			}
		}

		a:hover {
			background-color:$resource-permalink-hover-color;
			border-top-left-radius:$global-border-radius;
			@include transition (all 0.25s ease-in-out);
		}		
	}

}

.resource--permalink {
}

